.window{
    -fx-background-image: url("background.png");
    -fx-background-color: white;
    -fx-background-size: contain;
    -fx-background-position: center center;
}

.title-text {
    -fx-background-color: rgba(255, 255, 204, 0.5);
    -fx-text-fill: #7a5219;
    -fx-font-size: 30px;
    -fx-padding: 0 275px;
    -fx-border-color: #7a5219;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.custom-button{
    -fx-border-color: #7a5219;
    -fx-border-radius: 5 5 5 5;
    -fx-background-color: rgba(255, 255, 204, 0.8);
    -fx-text-fill: #7a5219;
}

.close-icon {
    -fx-cursor: hand;
}

.tab-pane:top > .tab-header-area > .tab-header-background{
    -fx-background-color: rgba(255, 255, 204, 0.5);
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: rgba(255, 255, 204, 0.2);
    -fx-border-radius: 5 5 0 0;
    -fx-border-color: #7a5219;
    -fx-pref-height: 40px;
    -fx-background-insets: 0;
    -fx-background-color: rgba(255, 255, 204, 1);
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-border-color: #7a5219;
    -fx-border-width: 5 1 1 1;
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: rgba(255, 255, 204, 1);
    -fx-pref-height: 40px;
    -fx-background-insets: 0;
}


.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-background-color: rgba(255, 255, 204, 0.5);
    -fx-text-fill: #7a5219;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}


.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-background-color: rgba(255, 255, 204, 0.5);
    -fx-text-fill: #7a5219;
    -fx-font-size: 20px;
}


.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:white;
    -fx-border-color: #a3a7a8;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
    -fx-pref-height: 45px;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.custom-size{
    -fx-background-color: rgba(255, 255, 204, 0.5);
    -fx-min-height: 400px;
    -fx-min-width: 620px;
}
